{% extends 'app/base.html' %}
{% load static %}
{% block title %}About Us{% endblock title %}
{% block main-content %}
<div >
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>About Us</h3>
   <hr>
    <p>Shopore is an e-commerce web application, where thousands of products from every domain and category are available. People can search out their products on Shopore, buy them and get them delivered at their doorsteps within a short span of time. It's a startup based in Kashmir. Shopore is derived from the name <em>Sopore</em>. Sopore is basically a beautiful town in North Kashmir's Baramulla District, which is best known for it's heritage and market. It's a well known saying in Kashmiri, <em>"Yi ne kunae bani, su bani Sopore"</em>, which means "What's found nowhere is found in Sopore". Since one can find and buy every single thing in Sopore, the owners decided to name their startup as Shopore.
   
  </div>
 </div>
</div>
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Why was Shopore started?</h3>
   <hr>
    <p> Shopore.Inc is an e-commerce startup based in Kashmir. Shopore is derived from the name <em>Sopore</em>. It was started by two young entrepreneurs from Sopore, whose names are supposed to be kept anonymous for a definite span of time. The duo decided to name their startup after their hometown's name. Shopore is an e-commerce web application, where thousands of products from every domain and category are available. People can search out their products on Shopore, buy them and get them delivered at their doorsteps within a short span of time.
   
  </div>
 </div>
</div>
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Who owns Shopore?</h3>
   <hr>
    <p> Shopore.Inc is an e-commerce startup based in Kashmir. Shopore is derived from the name <em>Sopore</em>. It was started by two young entrepreneurs from Sopore, whose names are supposed to be kept anonymous for a definite span of time. The duo decided to name their startup after their hometown's name. Shopore is an e-commerce web application, where thousands of products from every domain and category are available. People can search out their products on Shopore, buy them and get them delivered at their doorsteps within a short span of time.
   
  </div>
 </div>
</div>
{% endblock main-content %}